{% extends 'navbar.html' %}
{% block content %}
<div class = 'second-content'>
    <div class = 'miniboard bg-200'>
        <p class = 'miniboard-title'>
            공지사항
        </p> 
        <div class = 'miniboard-content-box bg-100'>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
        </div>
    </div>
    <div class = 'miniboard bg-200'>
        <p class = 'miniboard-title'>
            자유게시판
        </p> 
        <div class = 'miniboard-content-box bg-100'>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div><div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div><div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div><div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}