{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class = 'introduce-board' style = "background-image: url('{% static 'img/letsgo.jpg' %}');">
    </div>
    <p class = 'main-text'>
        충북대학교 학술 동아리<br>
        EMSYS
    </p> 
</div>
<div class = 'second-content'>
    <div class = 'miniboard bg-200'>
        <p class = 'miniboard-title'>
            공지사항
        </p> 
        <div class = 'miniboard-content-box bg-100'>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
        </div>
    </div>
    <div class = 'miniboard bg-200'>
        <p class = 'miniboard-title'>
            자유게시판
        </p> 
        <div class = 'miniboard-content-box bg-100'>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
            <div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div><div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div><div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div><div class = 'miniboard-item'>
                <p class = 'miniboard-content' style="width:10%;">
                    1
                </p>
                <p class = 'miniboard-content' style="width:30%; text-align:left">
                    제목
                </p>
                <p class = 'miniboard-content' style="width:20%;">
                    작성자
                </p>
                <p class = 'miniboard-content' style="width:40%">
                    YYYY-MM-DD
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}