.primary-100{
    background-color:#d4eaf7;
}

.primary-200{
    background-color:#b6ccd8;
}

.primary-300{
    background-color:#3b3c3d;
}

.accent-100{
    background-color:#71c4ef;
}

.accent-200{
    background-color:#00668c;
}

.text-100{
    color:#1d1c1c;
}

.text-200{
    color:#313d44;
}

.bg-100{
    background-color:#fffefb;
}

.bg-200{
    background-color:#f5f4f1;
}

.bg-300{
    background-color:#cccbc8;
}