.second-content{
    display:flex;

}

.miniboard{
    margin:10px;
    padding:30px;
    width:50%;
    box-shadow: inset 1px 3px 3px 1px;

}

.miniboard-content-box{
}

.miniboard-item{
    display:flex;
}
.miniboard-content{
    text-align: center;
    margin:3px;
}