<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href = "/css/navBar.css">
</head>

<body>
    <div class = "navBar">
        <div class = "logo">
            <img class = "logoImg" src ="/img/EmsysLogo.png">
        </div>
        <div class = "navContainer left">
            <a class = "navItem">소개</a>
            <a class = "navItem">게시판</a>
            <a class = "navItem">자료실</a>
        </div>
        <div class = "navContainer right">
            <a class = "navInfo">로그인</a>|
            <a class = "navInfo">회원가입</a>
        </div>
        
        <!-- 로그인 후
        <div class = "navContainer right">
            <a class = "navInfo">이름</a>|
            <a class = "navInfo">로그아웃</a>
            <img class = "profileImg" src = "">
        </div>
        -->
    </div>
</body>
</html>